<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorinterval="30" status="info" strict="true">
    <Properties>
        <property name="filename">stream-syn</property>
        <property name="dir">/home/datag/projects/data-etl/stream-syn/logs</property>
        <property name="pattern">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}: %L - %msg%n</property>
    </Properties>
    <Appenders>
        <Appender type="Console" name="Console">
            <Layout type="PatternLayout" pattern="%highlight{${pattern}}" />
        </Appender>
        <RollingFile name="RollingFile" fileName="${dir}/${filename}.log" filePattern="${dir}/$${date:yyyy-MM}/${filename}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
                <SizeBasedTriggeringPolicy size="100 MB"/> <!-- Or every 100 MB -->
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.haozhuo" level="DEBUG" additivity="false">
            <Appender-ref ref="RollingFile" />
            <Appender-ref ref="Console" />
        </Logger>
        <Root level="WARN">
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>